<!DOCTYPE html>
<html lang="{{- default "en" .Site.LanguageCode -}}">

<head itemscope itemtype="https:{{ .Site.BaseURL }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type=image/x-icon>

  {{ partial "head.html" . }}

  {{ block "head" . }}
  {{/* already done above in head.html ... <title>{{ .Site.Title }}</title> */}}
  {{ end }}
</head>

<body>

    <!-- menu bar with built-in title -->
    <div class="container xbg-primary mb-3">
      <div class="row banner-background">
        <nav class="navbar col-sm navbar-expand-md navbar-light">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler p-1 bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              {{ $currentPage := . }}
              {{ range .Site.Menus.main.ByWeight }}
                {{ if .HasChildren }}
                  <li class="nav-item rounded h3 px-2 py-0 mx-2 my-0 bg-primary dropdown {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}" style="flex: 1">
                    <a class="nav-link p-0  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
                    <ul class="sub-menu dropdown-menu rounded bg-primary px-1 pt-0 pb-1 mx-1 my-0" aria-labelledby="navbarDropdown">
                      {{ range .Children }}
                        <li><a class="dropdown-item p-0 pt-2 m-0" href="{{ .URL }}">{{ .Name }}</a></li>
                      {{ end }}
                    </ul>
                  </li>
                {{ else }}{{/* no children */}}
                  <li class="nav-item rounded h3 px-2 py-0 mx-2 my-0 bg-primary {{ if eq $currentPage.RelPermalink .URL }}active{{ end }}" style="flex: 1">
                    <a class="nav-link p-0" href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              {{ end }}{{/* range */}}
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div id="main">
      <div class="container">
        <div class="row">
          <div class="col-md" id="content">
            {{ block "main" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

</body>
</html>
