{{ define "main" }}

{{ if .Title }}
<h1>{{ .Title }}</h1>
{{ end }}
  
{{ .Content }}

  {{/* This is like the figrow shortcode */}}
  {{/* FIXME maybe do the sm/hidden thing for the whole flex div, with options adjusted as required */}}

  <h2>This is taxonomy.html -- copy of index.html so far</h2>

  {{/* Wide-screen version -- rows of thumbnails */}}
  <div xclass="d-none d-sm-block">
    {{/* Can't do figrow shortcode here, so do it by hand   FIXME how to copy in the relevant bit of figrow shortcode to here?  As a partial, I suppose */}}
    <div class=figrow style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; ">
    {{ range sort (where .Site.Pages "Type" "plots") .Params.Weight }}
    {{/* range (.Paginator 5).Pages */}}
    {{/* range (.Paginate ( first 50 .Pages.ByTitle )).Pages */}}
    {{/* range (.Paginate ( sort (where .Site.Pages "Type" "plots" ) .Params.Weight) 3).Pages */}}
      {{ $image := .Resources.GetMatch "photo.png" }}
      {{ if $image }}
        {{ partial "figset" (dict "page" .  "url" .RelPermalink  "image" $image  "xtitle" "Temp Title"  "xalt" "Temp Alt"  "size" "small"  "xheight" "160px"  "gallery" "main"  "maxwidth" "800"  "position" "centre") }}
      {{ end }}
    {{ end }}
    </div>
    {{/* template "_internal/pagination.html" . */}}
  </div>

  {{/*
  {{/ Narrow-screen version -- single columns /}}
  <div class="d-block d-sm-none">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; ">
    {{/ range sort (where .Site.Pages "Type" "plots") .Params.Weight /}}
    {{ range (.Paginate ( sort (where .Site.Pages "Type" "plots" ) .Params.Weight) 6).Pages }}
      {{ $image := .Resources.GetMatch "photo.png" }}
      {{ if $image }}
          {{ partial "figset" (dict "page" .  "url" .RelPermalink  "image" $image  "size" "large"    "gallery" "mainmob"  "position" "centre"  "maxwidth" "800") }}
      {{ end }}
    {{ end }}
    </div>
    {{/ FIXME doesn't like two paginations defined -- both get '3' as page count /}}
    {{ template "_internal/pagination.html" . }}
  </div>
  */}}

  <div clear=both></div>

{{ end }}{{/* main */}}
