{{/*
  figset partial, version of figure with srcsetting.
  OBSOLETE!  use figset3

  TODO:
  * apply defaults here, NOT in figset shortcode
  * more size options, e.g. 50% (width), 6em, bs4 class... -- but how to scale those for area?

  This can be used from another template, with args passed in as a dict, e.g.
    {{ partial "figset.html" (dict "page" . "name" "thingy.jpg" "size" "medium" "#01589B" "width" 10 "height" 20 ) }}
  or via the corresponding shortcode:
    {{< figset name="fred.png" size="medium" >}}

  The figset shortcode gets all options from a figrow parent (if any).

  args (in the dict/context):
    page -- current page
    name (of image within the page bundle)
    position - left, right, centre...
    size - small, medium, large, full  TODO other sizes  FIXME hook into bootstrap sizing
    maxwidth -- biggest size used for srcset in pixels
    size2 - like size, but presumably bigger -- to expand image
    title
    caption
    alt
    url -- url to link to -- on second click if galleried...
    gallery - name of gallery -- just has to be the same on a group of figures to make them a gallery - implies lightbox
    lightbox - anything truthy to add lightbox effect without making it a gallery
    image (resource) or name (name of image file in bundle) -- image overrides name
    height -- ?units -- maybe need responsive values.  Overrides size, for use (e.g. from figrow) to make a row of images line up.
        -- allow: px  em  % .... ...  remember at this stage we have no idea of screen size or shape
            -- if %, can calculate width as % (of container) and then estimate sizes as vw -- or maybe just specify sizes as vh
            -- if px, calculate width as px, then need to do media things for sizes, copying transitions from those used for bootstrap
            -- if em, depends on font size, so maybe don't handle that.  Or assume 16px

      TODO -- size2 to limit size of expanded image, e.g. if not in a gallery

*/}}
{{/* <p>This is figset.html (partial) - context is {{ . }}</p> */}}
{{/* Image can be specified as .image or .name -- .image takes precedence */}}
{{ $image := "" }}
{{ $name := .name }}
{{ if isset . "image" }}
  {{ $image = .image }}
{{ else }}
  {{ $image = .page.Resources.GetMatch $name }}
{{ end }}
{{ if $image }}
  {{ $origwidth := $image.Width }}
  {{ $origheight := $image.Height }}
  {{ $aspect := div (float $origwidth) (float $origheight) }}
  {{ $maxwidth := .maxwidth | default 2000 }}
  {{ if gt $maxwidth $origwidth }}{{ $maxwidth = $origwidth }}{{ end }}
  {{/* Just a big list, in descending order (so that default size is first, and so that JS can handle the list easily) */}} 
  {{ $allwidths := slice 1800 1600 1400 1200 1000 800 600 400 200 }}
  <!-- <p>aspect={{ $aspect }}, allwidths={{ $allwidths }}</p> -->
  {{ $title := .title | default .page.Title | default $image.Title | default "" }}{{/* $image.Name */}}
  {{ $url := .url | default $image.Params.Url | default "" }}
  {{ $caption := .caption | default "" }}
  {{ $alt := .alt | default $title }}

  {{ $height := 0 }}
  {{ $heightunit := "" }}
  {{ $widthunit := "" }}
  {{ $imagelist := slice }}{{/* empty slice */}}
  {{ $imagewidth := 0 }}
  {{ $imagewidthstring := "" }}
  {{ $imagemargincss := "" }}
  {{ $posclass := "" }}
  {{ $sizes := "" }}

  {{/* if isset . "height" */}}
  {{ if .height }}

    {{/* depends on units */}}
    {{ if strings.HasSuffix .height "px" }} */}}
      <p>px height is '{{ .height }}'.
      {{ $height = int (strings.TrimSuffix "px" .height) }}
      {{ $heightunit = "px" }}
      {{ $imagewidth = (mul $height $aspect) }}
      {{ $widthunit = "px" }}
      {{ $imagewidthstring = (printf "%dpx" (int $imagewidth)) }}

      {{ if gt $height $origheight }}
        {{/* don't want to expand image, so give it a margin */}}
        {{ $imagemargincss = printf "margin: %fpx %fpx; border: 1px solid red;" (div (sub $height $origheight) 2.0) (div (sub $imagewidth $origwidth) 2.0) }}
        {{/* only need the exact size... */}}
        {{ $imagelist = $imagelist | append $image }}
      {{ else }}
        {{/* resize to the exact size required */}}
        {{/* See [image] section of config.toml for image processing options */}}
        {{ $imagelist = $imagelist | append ($image.Resize (printf "x%d jpg" (int $height))) }}
      {{ end }}
    {{ else }}
      <p>Mystery height is '{{ .height }}'.
    {{ end }}

  {{ else }}{{/* starting with size/width, so more complicated... */}}

    {{/* Image size as percent of column width, adjusted for aspect ratio   FIXME should depend on screen size -- do bootstrap things */}}
    {{ $size := .size | default "medium" }}
    {{ $imagewidth = 45 }}
    {{ if eq $size "small" }}
      {{ $imagewidth = 25 }}
    {{ else if eq $size "large" }}
      {{ $imagewidth = 75 }}
    {{ else if eq $size "full" }}
      {{ $imagewidth = 100 }}
    {{ end }}
    {{/* Adjust for aspect ratio */}}
    {{ $imagewidth = mul $imagewidth (math.Sqrt $aspect) }}
    {{ if gt $imagewidth 100 }}
      {{ $imagewidth = 100.0 }}
    {{ end }}
    {{ $imagewidthstring = (printf "%d%%" (int $imagewidth)) }}

    {{/* TODO could do this the bootstrap way e.g. d-flex */}}
    {{/* TODO tell user not to use left or right within a row -- we really want things centered */}}
    {{ $pos := .position | default "left" }}
    {{ if eq $pos "left" }}
      {{/* need e.g. text-right for figure, float-right for img NO! */}}
      {{ $posclass = "float-left mr-3" }}
    {{ else if eq $pos "right" }}
      {{ $posclass = "float-right ml-3" }}
    {{ else if or (eq $pos "centre") (eq $pos "center") }}
      {{/* need text-center for figure, "mx-auto d-block" img */}}
      {{ $posclass = "xxmx-auto xxd-block" }}
    {{ else }}
      {{ $posclass = "" }}
    {{ end }}

    <!-- <p>{{ $allwidths }} max {{ $maxwidth }} orig {{ $origwidth }} -->
    {{ range $w := $allwidths }}
      {{ if le $w $maxwidth }}
        {{ $imagelist = $imagelist | append ($image.Resize (printf "%dx jpg" $w)) }}
      {{ end }}
    {{ end }}
    {{ if eq (len $imagelist) 0 }}
      {{ $imagelist = $imagelist | append $image }}
    {{ end }}

  {{ end }}{{/* else, not .height */}}
  {{/* <p>{{ $title }} .height={{ .height }}  w={{ int $imagewidth }}  aspect={{ $aspect }} h={{ div $imagewidth $aspect }} area={{ int (mul $imagewidth (div $imagewidth $aspect)) }} imagemargincss="{{ $imagemargincss }}" */}}
  
  {{ $defaultimage := index $imagelist 0 }}{{/* Just use the first, i.e. largest */}}
  {{ $lightbox := .lightbox }}

  {{ $gallery := .gallery }}
  {{ $gallerystring := "" }}
  {{ if $gallery }}
    {{ $gallerystring = printf "data-gallery='%s'" $gallery }}
  {{ end }}

  {{/* height, if any, is set via figrow shortcode (parent) */}}
  {{/* figure needs to be same width as img, otherwise it's too wide to allow any text flow */}}
  {{ $figcss := "" }}{{/* CSS for figure, or its enclosing 'a' FIXME rename it */}}
  {{ $figclass := "" }}{{/* classes for figure, or its enclosing 'a' FIXME rename it */}}
  {{ $imgcss := "" }}
  {{ if .height }}
    {{/* $figcss = (printf "width: %s;" $imagewidthstring) */}}{{/* FIXME but if .height specified, we're not using $imagewidth -- need to use ... */}}
    {{/* FIXME probably not needed because it's already the exact size we want  $imgcss = (printf "height: %s;" .height) */}}
  {{ else }}
    {{ $figcss = (printf "flex: 0 0 auto; width: %s;" $imagewidthstring) }}
    {{ $figclass = "mx-2" }}
  {{ end }}

  {{ $link := true }}
  {{ if or $lightbox $gallery }}
    {{ $dataurlstring := "" }}
    {{ if $url }}{{/* pass link to lightbox js via data */}}
      {{ $dataurlstring = printf "data-url=\"%s\"" $url }}
    {{ end }}
    {{/* <p>dataurlstring='{{ $dataurlstring }}' </p> */}}

    {{/* Create srcset entries as a dict */}}
    {{ $srcset := slice }}
    {{ range $i := $imagelist }}
      {{ $srcset = $srcset | append (dict "url" $i.RelPermalink "width" $i.Width "height" $i.Height) }}
    {{ end }}

This is figset!  you want to use figset3

    {{/* Use default image for href in case the clever JS doesn't work */}}
    {{/* NOTE either data-remote or href gets used for the image to display */}}
    <a href="{{ $defaultimage.RelPermalink }}" class="{{ $figclass }} {{ $posclass }}" style="display: block; {{ $figcss | safeCSS }}" data-lightbox="lightbox" data-imagelist="{{ jsonify $srcset }}"  {{ $dataurlstring | safeHTMLAttr }} {{ $gallerystring | safeHTMLAttr }}>
    {{ $figcss = "" }}
    {{ $figclass = "" }}
  {{ else if $url }}
  <a href="{{ $url }}" class="{{ $figclass }}" style="display: block; {{ $figcss | safeCSS }}">
    {{ $figcss = "" }}
    {{ $figclass = "" }}
  {{ else }}
    {{ $link = false }}
  {{ end }}

  <figure class="figure {{ $figclass }} {{ $posclass }} " {{ with $figcss }}style="{{ $figcss | safeCSS }}"{{ end }}>
  <img class="img-fluid xxmx-2 border border-primary"
    {{/* Only include srcset if there is more than one */}}
    {{ if gt (len $imagelist) 1 }}
      srcset="
      {{ range $i := $imagelist }}
        {{ $i.RelPermalink }} {{ printf "%dw" $i.Width }},
      {{ end }}
      "
    {{ end }}
    {{ $sizes = printf "%dvw" (int $imagewidth) }}{{/* FIXME  ...   see https://css-tricks.com/responsive-images-youre-just-changing-resolutions-use-srcset/ */}}
    {{ with $sizes }}sizes="{{ $sizes }}";{{ end }}
    src="{{ $defaultimage.RelPermalink }}"
    {{ with $alt }}alt="{{ . | safeHTMLAttr }}" {{ end }}
    {{ with $title }}title="{{ . | safeHTMLAttr }}" {{ end }}
    style="{{ $imgcss | safeCSS }} {{ $imagemargincss | safeCSS }}" {{/* 100% of figure                   .already done with img-fluid: max-width: 100%; height: auto; */}}
    {{/* object-fit: contain; ??? */}}
  >
  {{ if $caption }}
    <figcaption class=figure-caption>{{ $caption | safeHTMLAttr }}</figcaption>
  {{ end }}
  </figure>
  {{ if $link }}
    </a>
  {{ end }}

{{ else }}
[image '{{ $name }}' not found]
{{ end }}
