{{/*
  figset2 partial, version of figure with srcsetting.

  rethinking media sizes

  TODO:
  * apply defaults here, NOT in figset shortcode
  * more size options, e.g. 50% (width), 6em, bs4 class... -- but how to scale those for area?
  * allow for figrow/figset margin as defined in styles.css

  This can be used from another template, with args passed in as a dict, e.g.
    {{ partial "figset.html" (dict "page" . "name" "thingy.jpg" "size" "medium" "#01589B" "width" 10 "height" 20 ) }}
  or via the corresponding shortcode:
    {{< figset name="fred.png" size="medium" >}}

  The figset shortcode gets all options from a figrow parent (if any).

  args (in the dict/context):
    page -- current page
    name (of image within the page bundle)
    position - left, right, centre...
    size - thumb, small, medium, large, full  TODO other sizes?  FIXME hook into bootstrap sizing
    maxwidth -- biggest size used for srcset in pixels
    size2 - like size, but presumably bigger -- to expand image
    title
    caption
    alt
    url -- url to link to -- on second click if galleried...
    gallery - name of gallery -- just has to be the same on a group of figures to make them a gallery - implies lightbox
    lightbox - anything truthy to add lightbox effect without making it a gallery
    image (resource) or name (name of image file in bundle) -- image overrides name
    height -- ?units -- maybe need responsive values.  Overrides size, for use (e.g. from figrow) to make a row of images line up.
        -- allow: px  em  % .... ...  remember at this stage we have no idea of screen size or shape
            -- if %, can calculate width as % (of container) and then estimate sizes as vw -- or maybe just specify sizes as vh
            -- if px, calculate width as px, then need to do media things for sizes, copying transitions from those used for bootstrap
            -- if em, depends on font size, so maybe don't handle that.  Or assume 16px

      TODO -- size2 to limit size of expanded image, e.g. if not in a gallery

    Media sizes as defined in Bootstrap4 -- see /assets/sass/custom_variables.sass for how to change the values


    Don't need to repeat sizes for each column, so for example size 'small' will have images for 288 256 240.

    Image quality: see config.toml

*/}}


{{/* <p>This is figset.html (partial) - context is {{ . }}</p> */}}
{{/* Image can be specified as .image or .name -- .image takes precedence */}}
{{ $image := "" }}
{{ $name := .name }}
{{ if isset . "image" }}
  {{ $image = .image }}
{{ else }}
  {{ $image = .page.Resources.GetMatch $name }}
{{ end }}
{{ if $image }}

  {{ $origwidth := $image.Width }}
  {{ $origheight := $image.Height }}
  {{ $aspect := div (float $origwidth) (float $origheight) }}
  {{ $rootaspect := math.Sqrt $aspect }}
  {{ $maxwidth := .maxwidth | default 2000 }}
  {{ if gt $maxwidth $origwidth }}
    {{ $maxwidth = $origwidth }}
  {{ end }}

  {{ $title := .title | default .page.Title | default $image.Title | default "" }}{{/* $image.Name */}}
  {{ $url := .url | default $image.Params.Url | default "" }}
  {{ $caption := .caption | default "" }}
  {{ $alt := .alt | default $title }}
  {{ $size := .size | default "medium" }}

  {{/* Bootstrap4's grid-breakpoints:                     */}}
  {{/* xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px */}}
  {{/* Bootstrap4's container-max-widths:          */}}
  {{/* sm: 540px  md: 720px  lg: 960px  xl: 1140px */}}
  {{/* which get 15px padding each side, so usable space is:  */}}
  {{/*  xs: ??   sm: 510  md: 690  lg: 930  xl: 1110          */}}
  {{/* but we'll add a smaller size too ?? */}}

  {{/* NOTE: for now, put all entries in tables -- optimise later... */}}

  {{/* Bootstrap4 media breakpoints */}}
  {{/* and corresponding container widths: */}}
  {{/* NOTE last value is invented to provide something for xs */}}
  {{/*                         xl  lg  md  sm  xs */}}
  {{ $bs4bp         := slice 1200 992 768 576 330 }}
  {{ $bs2Containers := slice 1140 960 720 540 310 }}

  {{ $bpgutter2 := 30 }}{{/* px at each side of each column * 2 */}}
  {{ $bpborder2 :=  2 }}{{/* px bp4 border thickness * 2 */}}
  {{ $figmargin :=  4 }}{{/* px left and right margin around each figure -- defined here */}}
  {{ $flexgap   :=  4 }}{{/* mystery gap between items */}}

  {{/* Figures per row by .size and breakpoint */}}
  {{/*                      xl lg md sm  xs */}}
  {{ $thumbPerRow  := slice  8  6  4  2  2 }}
  {{ $smallPerRow  := slice  4  4  4  3  2 }}
  {{ $mediumPerRow := slice  3  3  3  2  1 }}
  {{ $largePerRow  := slice  2  2  2  1  1 }}
  {{ $fullPerRow   := slice  1  1  1  1  1 }}
  {{ $perRowTable  := dict  "thumb" $thumbPerRow  "small" $smallPerRow  "medium" $mediumPerRow  "large" $largePerRow  "full" $fullPerRow }}

  {{ $figsPerRowByBP := index $perRowTable $size }}

  {{/* Calculate image width for each breakpoint:
    imagewidth = (containerwidth - 2*gutter - fprm1*flexgap) / figsperow - 2*border 
  */}}
  {{ $squareSizes := slice }}
  {{ range $idx, $bp := $bs4bp }}
    {{ $containerWidth := index $bs2Containers $idx }}
    {{ $figsPerRow := index $figsPerRowByBP $idx }}
    {{ $x := (sub (sub $containerWidth $bpgutter2) (mul (sub $figsPerRow 1) $flexgap)) }}
    {{ $squareSizes = $squareSizes | append (sub (div $x $figsPerRow) $bpborder2) }} 
  {{ end }}
  {{/* OK, but we get some very similar sizes...  */}}

  {{/* OBSOLETE */}}
  {{/* 'sizes' values for square images: */}}
  {{/* Border will be added to these -- currently 1px all round */}}
  {{/* Working from xl down to xs, because the latter is the fallback value in the sizes attribute */}}
  {{/*                       xl  lg  md  sm  xs */}}
  {{ $thumbSizes  := slice  180 150 110  96  96 }}
  {{ $smallSizes  := slice  260 228 168 250 140 }}{{/* 260 was 272   TODO allow for margin */}}
  {{ $mediumSizes := slice  365 304 224 250 300 }}
  {{ $largeSizes  := slice  550 460 340 510 300 }}
  {{ $fullSizes   := slice 1110 930 690 510 300 }}
  {{ $sizesTable  := dict  "thumb" $thumbSizes  "small" $smallSizes  "medium" $mediumSizes  "large" $largeSizes  "full" $fullSizes }}

  {{/* Choose list of sizes based on 'size' parameter, and adjust for aspect */}}
  {{ $XsquareSizes := index $sizesTable $size }}
  {{ $aspectSizes := slice }}
  {{ range $s := $squareSizes }}
    {{ $aspectSizes = $aspectSizes | append (int (mul $s $rootaspect)) }}
  {{ end }}

  {{/* 'breaks' CSS values -- see table above, with only the breaks that make a difference */}}
  {{/* These slices are one smaller than the 'sizes' ones above, because the last size will be the default */}}
  {{ $thumbBreaks  := slice 1200 992 768 576 }}
  {{ $smallBreaks  := slice 1200 992 768 576 }} 
  {{ $mediumBreaks := slice 1200 992 768 576 }}
  {{ $largeBreaks  := slice 1200 992 768 576 }}
  {{ $fullBreaks   := slice 1200 992 768 576 }}
  {{ $breaksTable  := dict  "thumb" $thumbBreaks  "small" $smallBreaks  "medium" $mediumBreaks  "large" $largeBreaks  "full" $fullBreaks }}
  {{ $breaks := index $breaksTable $size }}
  {{ $breaks = $bs4bp }}{{/* FIXME -- except not the last one */}}

  {{/* Create list of images */}}
  {{ $imagelist := slice }}
  {{ range $w := $aspectSizes }}
    {{ if le $w $maxwidth }}
      {{ $imagelist = $imagelist | append ($image.Resize (printf "%dx" $w)) }}
    {{ end }}
  {{ end }}
  {{ if eq (len $imagelist) 0 }}
    {{ $imagelist = $imagelist | append $image }}
  {{ end }}
  {{/* TODO if origwidth is too small, apply some padding/margin NO! -- depends on breakpoint */}}
  {{ $defaultimage := index $imagelist 0 }} {{/* (sub (len $imagelist) 1) }}{{/* Just use the FIRST, i.e. largest */}}

  {{/* TODO may need a bigger image for the gallery e.g. if 'thumb' 
    -- and we need a full range of sizes for the lightbox srcset, 
    -- so we need a different src set for the gallery/lightbox (if any)
    -- generate a separate list to pass to the data-srcset thing -- don't know what size the screen may be, so a complete set, let the JS choose 
    FOR NOW, just a maxwidth one.
    */}}
  {{/* warnf "maxwidth='%v' has type %T" $maxwidth $maxwidth */}}
  {{ $galleryImage := $image.Resize (printf "%vx" $maxwidth) }}

  {{/* Create sizes attribute e.g.  sizes=" (min-width: 960px) 720px, 100vw " */}}
  {{ $sizesString := "" }}
  {{ if gt (len $imagelist) 1 }}
    {{ $sizesString = "sizes='" }}
    {{ range $idx, $break := $breaks }}
      {{ $s := index $aspectSizes $idx }}
      {{ if le $s $maxwidth }}
        {{ $sizesString = printf "%s (min-width: %dpx) %dpx," $sizesString $break $s }}
      {{ end }}
    {{ end }}
    {{ $sizesString = printf "%s %dpx'" $sizesString (index $aspectSizes (sub (len $aspectSizes) 1)) }}
  {{ end }}

  {{/* NOTE!!!! we've ignored the height thing for now */}}

  {{/* lightbox and gallery... */}}
  {{ $lightboxstring := "" }}
  {{ if .gallery }}
    {{ $lightboxstring = printf "data-lightbox='%s'" .gallery }}
  {{ else if .lightbox }}
    {{/* FIXME passing RelPermalink as the gallery name seems a bit weird, but how else to make it unique? */}}
    {{ $lightboxstring = printf "data-lightbox='%s'" $galleryImage.RelPermalink }}
  {{ end }}

  {{/* Oh! How to set fig width if image width depends on media?? */}}

  {{ $figclass := "xmx-2" }}
  {{ $posclass := "" }}
  {{/* display inline-table/table-caption for figure/figcaption makes the caption wrap properly */}}
  {{ $figcss := "display: inline-table; margin-left: 4px !important; margin-right: 4px !important;" }}
  {{ $captioncss := "display: table-caption; caption-side: bottom;" }}
  {{ $imgcss := "" }}
  {{ $imagemargincss := "" }}

  {{ $link := true }}
  {{ $dataurlstring := "" }}
  {{/* warnf "lbs?: '%s'" $lightboxstring */}}
  {{ if $lightboxstring }}
    {{/* warnf "lbs is not empty..." */}}
    {{/* TODO maybe -- let the JS extract the image url/name from the fig */}}
    {{ $lightboxstring = printf "%s data-image='%s'" $lightboxstring $galleryImage.RelPermalink }}

    {{/* warnf "adding to lbs: url=%s alt=%s title=%s" $url $alt $title */}}
    {{ with $url }}{{ $lightboxstring = printf "%s data-url='%s'" $lightboxstring . }}{{ end }}
    {{ with $alt }}{{ $lightboxstring = printf "%s data-alt='%s'" $lightboxstring . }}{{ end }}
    {{ with $title }}{{ $lightboxstring = printf "%s data-title='%s'" $lightboxstring . }}{{ end }}

    {{/* Create srcset entries as a dict */}}
    {{ $srcset := slice }}
    {{ range $i := $imagelist }}
      {{ $srcset = $srcset | append (dict "url" $i.RelPermalink "width" $i.Width "height" $i.Height) }}
    {{ end }}

    {{/* Use default image for href in case the clever JS doesn't work */}}
    {{/* NOTE either data-remote or href gets used for the image to display */}}
    {{ $figcss = "" }}
    {{ $figclass = "" }}
  {{ else if $url }}{{/* Link but no lightbox -- wrap with <a> */}}
    {{/* warnf "simple link" */}}
    <a href="{{ $url }}" class="{{ $figclass }}" style="display: block; {{ $figcss | safeCSS }}">
    {{ $figcss = "" }}
    {{ $figclass = "" }}
  {{ else }}
    {{/* warnf "no link" */}}
    {{ $link = false }}
  {{ end }}


  {{/* warnf "figclass='%s' posclass='%s' lightboxstring='%s'" $figclass $posclass $lightboxstring */}}
  {{/* figures are inline, unless there's an enclosing figrow which will make it all flexy */}}
  <figure class="figrow {{ $figclass }} {{ $posclass }}" {{ $lightboxstring | safeHTMLAttr}} {{ with $figcss }}style="{{ . | safeCSS }}"{{ end }}>
  <img class="img-fluid xxmx-2 border border-primary"
    {{/* Only include srcset if there is more than one */}}
    {{ if gt (len $imagelist) 1 }}
      srcset="
      {{ range $i := $imagelist }}
        {{ $i.RelPermalink }} {{ printf "%dw" $i.Width }},
      {{ end }}
      "
    {{ end }}
    {{ $sizesString | safeHTMLAttr }}
    src="{{ $defaultimage.RelPermalink }}"
    {{ with $alt }}alt="{{ . | safeHTMLAttr }}" {{ end }}
    {{ with $title }}title="{{ . | safeHTMLAttr }}" {{ end }}
    style="{{ $imgcss | safeCSS }} {{ $imagemargincss | safeCSS }}" {{/* 100% of figure                   .already done with img-fluid: max-width: 100%; height: auto; */}}
    {{/* object-fit: contain; ??? */}}
  >
  {{ if $caption }}
    <figcaption class=figure-caption style="{{ $captioncss | safeCSS }}">{{ $caption | markdownify }}</figcaption>
  {{ end }}
  </figure>

  {{ if $link }}
    </a>
  {{ end }}


{{ else }}
[image '{{ $name }}' not found]
{{ end }}
