{{/*
  figset shortcode, version of figure with srcsetting,
  via the similar partial.

  args:
    name (of image within the page bundle)
    position - left, right, centre...
    size - small, medium, large, full  TODO other sizes  FIXME hook into bootstrap sizing
    height - height of image -- overrides size, probably in pixels, for making all figures in a row the same height
    maxwidth -- biggest size used for srcset in pixels
    size2 - like size, but presumably bigger -- to expand image
    title
    caption
    attrib[ution] - e.g. the photographer -- add to caption, in italics, right aligned (I hope)
    alt
    url -- url to link to -- on second click if galleried...
    gallery - name of gallery -- just has to be the same on a group of figures to make them a gallery - implies lightbox
    lightbox - anything truthy to add lightbox effect without making it a gallery

  e.g. {{< figset name="barnowl.jpg" caption="Owl on a post" alt="photo" >}}

*/}}

{{/* Set $p to the parent i.e. the surrounding figrow (if any), or else this context */}}
{{- $p := .Parent | default . -}}

{{- $name     := .Get "name"     | default ($p.Get "name")     | default "" -}}
{{- $position := .Get "position" | default ($p.Get "position") | default "centre" -}}
{{- $size     := .Get "size"     | default ($p.Get "size")     | default "medium" -}}
{{- $height   := .Get "height"   | default ($p.Get "height")   | default "" -}}
{{- $maxwidth := .Get "maxwidth" | default ($p.Get "maxwidth") | default "800" -}}
{{- $size2    := .Get "size2"    | default ($p.Get "size2")    | default "medium" -}}
{{- $title    := .Get "title"    | default ($p.Get "title")    | default "" -}}
{{- $caption  := .Get "caption"  | default ($p.Get "caption")  | default "" -}}
{{- $attrib   := .Get "attrib"   | default ($p.Get "attrib")   | default "" -}}
{{- $alt      := .Get "alt"      | default ($p.Get "alt")      | default $title | default $caption | default "image" -}}
{{- $url      := .Get "url"      | default ($p.Get "url")      | default "" -}}
{{- $gallery  := .Get "gallery"  | default ($p.Get "gallery")  | default "" -}}
{{- $lightbox := .Get "lightbox" | default ($p.Get "lightbox") | default false -}}

{{- partial "figset3.html" (dict "page" .Page   "name" $name  "position" $position  "size" $size  "height" $height  "maxwidth" $maxwidth  "size2" $size2  "title" $title  "caption" $caption  "attrib" $attrib  "alt" $alt  "url" $url  "gallery" $gallery  "lightbox" $lightbox) -}}

