{{/*

  attachments.html -- partial to list PDFs and other documents listed as resources for the page

  Ignores documents with ".params.draft == true" if site.BuildDrafts is false.

  Outputs nothing if there are no suitable documents to list.

  arguments passed in as a dictionary: 
    page -- page context 
    title -- used as a subheading, if any
    pattern -- glob for matching resources

*/}}
{{ $title := .title | default "" }}
{{ $pattern := .pattern | default "" }}
{{ $allAttachments := .page.Resources.Match $pattern }}
{{ $attachments := slice }}
{{/* only count non-draft ones if we're in draft-only mode */}}
{{ range $allAttachments }}
  {{ if (or (site.BuildDrafts) (not .Params.draft)) }}
    {{ $attachments = append . $attachments }}
  {{ end }}
{{ end }}
{{/* TODO: Likewise for date, but there's no BuildFuture variable! */}}
{{ if $attachments }}
<section class="attachments">
  {{ with $title }}<h3>{{ . }}</h3>{{ end }}
  <ul>
  {{ range $attachments }}
    {{ $type := index .MediaType.Suffixes 0 }}
    {{ $iconname := printf "images/attachment-icon-%s.png" $type }}
    {{ $icon := resources.Get $iconname }}{{/* relative to /assets */}}
    {{ $iconcss := "" }}
    {{ if $icon }}
      {{ $iconsmall := $icon.Resize "x28" }}
      {{ $iconcss = printf "list-style-image: url(%s);" $iconsmall.RelPermalink }}
    {{ end }}
    <li style="list-style-position: inside; {{ $iconcss | safeCSS }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</section>
{{ end }}
