{{/* layouts/catshowcase/single.html */}}

{{/* This doesn't work -- need to set lightboxSSA as a param in the content 
{{ .Scratch.Set "lightboxSSA" true */}}

{{ define "main" }}
<div class=container>

  {{ "<!-- This is layouts/catshowcase/single.html -->" | safeHTML }}
  {{ if .Title }}
  <h2>{{ .Title }}</h2>
  {{ end }}

  {{ .Content }}
 
  <div class=figrow style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; ">
    {{/* not working:  range $catname, $cat := where .Site.Taxonomies.categories .Count gt 1 */}}
    {{/* Get the list of categories and shuffle them */}}
    {{ $catList := slice }}
    {{ range $catName, $_ := ($.Site.Taxonomies.categories) }}
        {{ $catList = append $catName $catList }}
    {{ end }}
    {{/* range $catname, $cat := (shuffle .Site.Taxonomies.categories) */}}
    {{ range $catName := shuffle $catList }}
      {{ $cat := index $.Site.Taxonomies.categories $catName }}
      {{ with $cat }}
        {{ if gt .Count 0 }}
          {{ $catTitle := .Page.Title }}
          {{ $catPage := .Page.RelPermalink }}
          {{ range first 1 (shuffle $cat.Pages) }}
            {{ $image := .Resources.GetMatch "photo.png" }}
            {{ if $image }}
              {{ partial "figset" (dict "page" .  "url" $catPage  "image" $image  "caption" $catTitle  "title" $catTitle  "size" "medium"  "xgallery" "main"  "maxwidth" "800"  "position" "centre") }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

</div>
{{ end }}{{/* of main */}}
