{{ define "main" }}
<main>
  {{ "<!-- layouts/taxonomy/list.html -->" | safeHTML }}
    <h1>{{.Title}}</h1>

    <div class=figrow style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; align-items: center; ">
    {{/* range sort .Pages .Params.Weight */}}
    {{ range shuffle .Pages }}
      {{ $image := .Resources.GetMatch "photo.png" }}
      {{ if $image }}
        {{ partial "figset" (dict "page" .  "url" .RelPermalink  "image" $image  "caption" .Page.Title  "xalt" "Temp Alt"  "size" "small"  "xheight" "160px"  "gallery" "main"  "maxwidth" "800"  "position" "centre") }}
      {{ end }}
    {{ end }}
    </div>
    
</main>
{{ end }}
