{{ define "main" }}

<h1>{{ .Title }}</h1>
<p>layouts/type2/single.html

<p>Figset partial with a clear:
{{ partial "figset.html" (dict "page" .Page   "name" "https://picsum.photos/200/300"  "position" "left"  "size" "small"  "caption" "clear=both"  "clear" "both" ) }}

<p>Figrow partial:
{{ partial "figrow_start.html" (dict  "page" .Page  "justify" "space-around" ) }}
  {{ partial "figset.html" (dict "page" .Page  "figrow" "true"  "name" "figrowimage1.png"  "position" "centre"  "size" "small"  "caption" "Why isn't this doing the squashed caption thing?" ) }}
  {{ partial "figset.html" (dict "page" .Page  "figrow" "true"  "name" "figrowimage2.png"  "position" "leFt"  "size" "small"  "caption" "Look at that" ) }}
{{ partial "figrow_end.html"   (dict  "page" .Page ) }}

<p>Content:  {{ .Content }}

{{ end }}
