{{/* sendform.html -- shortcode for sending a form via Ajax */}}

{{/* TODO timeout check -- display 'sending not available, please try later' */}}

{{/* NOTE: /wsgi is connected to a script via NGINX conf */}}
<form id=contactform action="/wsgi" method="post" class="mb-3">
  <div class="form-group row">
    <label for="forename" class="col-sm-2 col-form-label">Your name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="forename" id="forename" required>
      <input type="text" name="surname" id="surname">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="phone" class="col-sm-2 col-form-label">Your phone number:</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" name="phone" id=phone>
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="email" class="col-sm-2 col-form-label">Your email address: </label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="email">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label for="message" class="col-sm-2 col-form-label">Message:</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows=5 cols=40 name="message" id="message" required></textarea>
    </div>
  </div>
  <div class="form-group row mt-2">
    <div class="col-sm-2">
      <input type="submit" class="form-control form-control-lg bg-primary h2" value="Send">
    </div>
    <div class="col-sm-10"><span id=result></span></p></div>
  </div>
</form>

<script>
function wsgiContactSubmit (event) {
  event.preventDefault();
  //console.log("wsgiCS:", event);
  const forename = document.getElementById('forename').value;
  const surname = document.getElementById('surname').value;
  const email = document.getElementById('email').value;
  const phone = document.getElementById('phone').value;
  const message = document.getElementById('message').value;
  // Message is sent to the uWsgi handler on the server, via nginx
  let url = '/wsgi';
  // FIXME hack to let it work when served locally -- relies on localhost specifically allowing "localhost:1315":
  if (location.host.indexOf('localhost') == 0) {
    url = 'https://avonvalleyshed.org.uk/wsgi';
  }
  fetch(url, {
    method: 'POST',
    body: `${url}&forename=${forename}&surname=${surname}&email=${email}&phone=${phone}&message=${message}`
  })
    .then(response => { 
      // Status is always 200 (for a clean reply), but message should be 'OK'.
      response.text().then(function (text) {
        const result = document.getElementById('result');
        if (text == 'OK') {
          result.textContent = "Message sent -- thank you.";
        } else {
          result.textContent = "Message NOT sent -- please try again later.";
        }
        setTimeout(function () {
          result.textContent = "";
        }, 10000);
      });
    });
}

const contactForm = document.getElementById('contactform');
contactForm.addEventListener('submit', wsgiContactSubmit);
</script>
